
.header {
    margin: auto;
    display: flex;
    border: 1px solid #c6d9e952;
    border-top: none;
    background-color: rgba(32, 0, 76, 0.597);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header a
{
    margin: 20px 10px;
    display: inline-block;
    text-decoration: none;
    color: #c6d9e9;
}


.header-right-column {
    min-width: 80%;
    text-align: right;
}

.header-left-column {
    min-width: 20%;
}