
.header {
    margin: auto;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.header a
{
    margin: 20px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}


.header-right-column {
    min-width: 80%;
    text-align: right;
}

.header-left-column {
    min-width: 20%;
}