
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/mw.png') }}">
</head>
<body>

    {% include 'header.html' %}

    <div class="main-content" id="main-content">  
        <div class="container">
            <h1>Admin Dashboard</h1>
            <div id="welcome-div"></div>
            <div class="button-container">
                <button style="margin-top: 1rem;" id="toggle-projects-button">Projects</button>
            </div>
        </div>
        <div class="container" id="projects-container"></div>
        

    </div>

    <div class="modal" id="add-project-modal">
        <div class="modal-content">
            <span class="close" id="add-project-close">&times;</span>
            <div id="add-modal-content">
            </div>
            <div style="display: flex">
                <button id="add-project-create" style="margin-left: auto; margin-top: 1rem;">Create proejct</button>
            </div>
        </div>
    </div>



    <div class="modal" id="edit-project-modal">
        <div class="modal-content">
            <span class="close" id="edit-project-close">&times;</span>
            <div id="edit-modal-content">
            </div>
        </div>
    </div>


    {% include 'footer.html' %}

</body>
<script>
    window.user = {{ user|tojson }};


    async function initalize_dashboard() {

        const user = window.user;
        if (user) {
            const welcomeDiv = document.getElementById('welcome-div')
            const html = `Welcome back ${user}`
            welcomeDiv.innerHTML = html;
        }
    }

    async function initalize_widget_buttons() {
        const projectsBtn = document.getElementById('toggle-projects-button');
        const projectsDiv = document.getElementById('projects-container');

        projectsBtn.innerText = 'Hide projects'
        projectsBtn.onclick = () => {
            if (projectsDiv.style.display == 'none') {
                projectsDiv.style.display = 'block';
                projectsBtn.innerText = 'Hide projects'
            } else {
                projectsDiv.style.display = 'none';
                projectsBtn.innerText = 'Show projects'
            }
        }
    }

    async function load_projects() {
        const response = await fetch('/api/get_projects_from_db');
        const projects = await response.json();
        let html = "<h2>Projects</h2><button id='add-project-button'>Add project</button><table style='margin-top:1rem;'>";
        html += `
            <tr>
                <td>Project ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Links</td>
                <td>Link ID</td>
                <td>Link</td>
                <td>Link Name</td>
                <td>Actions</td>
            </tr>
        `
        let projectsDiv = document.getElementById('projects-container')
        let projectMap = {};

        for (const row of projects) {
            if (!projectMap[row.projectID]) {
                projectMap[row.projectID] = {
                    id: row.id,
                    title: row.title,
                    description: row.description,
                    links: []
                }
            }
            projectMap[row.projectID].links.push({ name: row.linkName, url: row.link, linkID: row.linkID })
        }
        const projectIDs = Object.keys(projectMap)

        
        projectIDs.forEach((projectID, i) => {
            const project = projectMap[projectID];
            console.log("project: ", project)
            console.log("links: ", project.links)
            
            html += `
                <tr>
                    <td>${project.id}</td>
                    <td>${project.title}</td>
                    <td>${project.description}</td>
                    <td>${project.links.length}</td>
                    <td>
            `
            let k = 0;
            for (const link of project.links) {
                console.log("link: ", link);
                html += `${link.linkID}`;
                if (k < project.links.length -1) {
                    html += '<br>';
                } else {
                    html += '</td><td>'
                }
                k++;
            }
            let j = 0;
            for (const link of project.links) {
                console.log("link: ", link);
                html += `<a href='${link.url}' target=_blank>${link.url}</a>`;
                if (j < project.links.length -1) {
                    html += ' , <br>';
                } else {
                    html += '</td><td>'
                }
                j++;
            }
            let l = 0;
            for (const link of project.links) {
                console.log("link: ", link);
                html += `${link.name}`;
                if (l < project.links.length -1) {
                    html += ' , <br>';
                } else {
                    html += '</td>'
                }
                l++;
            }
            html += `
            <td>
                <button id="edit-button-${projectID}">Edit</button>
            </td>
            </tr>
            `

        })
        html += `</table>`
        projectsDiv.innerHTML = html;


        let addProjectbutton = document.getElementById('add-project-button');
        addProjectbutton.onclick = function() {
            let modal = document.getElementById('add-project-modal');
            let contentDiv = document.getElementById('add-modal-content');

            let numLinks = 0;

            let html = `
            <h1>Add Project</h1>
            <form>
                <table>
                <tr>
                    <td>Title</td>
                    <td ><input id='add-title-input'></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea id='add-description-input'></textarea></td>
                </tr>
                </table>
                <div style="display: flex">
                <h3 id='num-links'>Links: ${numLinks}</h3>
                <button type="button" style="margin-left: auto; margin-top: auto; margin-bottom: auto;" id='add-link-button'>Add Link</button>
                </div>
            `;
            contentDiv.innerHTML = html;

            const addLinkBtn = document.getElementById('add-link-button');
            addLinkBtn.onclick = function() {
                numLinks++;
                let content = `
                <table style="margin-top: 1rem;">
                    <tr>
                        <td>Link name: </td>
                        <td><input id='add-link-name-${numLinks}'></td>
                    </tr>
                    <tr>
                        <td>URL: </td>
                        <td><input id='add-link-url-${numLinks}'></td>
                    </tr>
                </tr>
                `
                contentDiv.insertAdjacentHTML ('beforeend', content);
                let numLinksText = document.getElementById('num-links')
                numLinksText.innerText = `Links: ${numLinks}`
                console.log("Links: ", numLinks)
            }


            let createProjectBtn = document.getElementById('add-project-create');
            createProjectBtn.onclick = async function() {
                let title = document.getElementById('add-title-input').value;
                let description = document.getElementById('add-description-input').value;
                let links = {}
                for (let i = 1; i <= numLinks; i++) {
                    let linkName = document.getElementById(`add-link-name-${i}`).value
                    let linkUrl = document.getElementById(`add-link-url-${i}`).value
                    links[i] = { name: linkName, url: linkUrl}
                }

                console.log("Create: ")
                console.log("Title: ", title)
                console.log("Description: ", description)
                for (const link of Object.values(links)) { 
                    console.log("Link name: ", link.name)
                    console.log("Link Url: ", link.url)
                }

                

                if (Object.keys(links).length > 0) {
                    console.log("test 2 passed")
                    console.log("length: ", Object.keys(links).length)
                    if (title != '' && description != '') {
                        console.log("passed test1");
                        const response = await fetch('/api/create-project', {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: JSON.stringify({
                                title: title,
                                description: description,
                                links: links
                            })
                        })
                    }
                } else {
                    console.log("test 2 failed - empty links")
                }


            }



            modal.style.display = "block";
            let span = document.getElementById('add-project-close');
            span.onclick = function(){
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }


        projectIDs.forEach((projectID) => {
            let editButton = document.getElementById(`edit-button-${projectID}`);
            let modal = document.getElementById('edit-project-modal');
            let contentDiv = document.getElementById('edit-modal-content');
            let project = projectMap[projectID];

            editButton.onclick = () => {
                console.log(`Edit button ${projectID} clicked`);
                let content = '';

                content = `
                    <h1>Editing project: ${project.id}</h1>
                    <table class='edit-project-table'>
                        <tr>
                            <td>Title: </td>
                            <td><input value="${project.title}" id='title-input-${project.id}'></td>
                        </tr>
                        <tr>
                            <td>Description: </td>
                            <td><textarea id='description-input-${project.id}'>${project.description}</textarea></td>
                        </tr>
                        <tr>
                        </table>
                        <div style="display: flex;">
                            <h3>Links: ${project.links.length} </h3>
                            <button style="margin-top: auto; margin-bottom: auto; margin-left: auto; height:fit-content;">Add Link</button>
                        </div>
                `;

                for (const link of project.links) {
                    content += `
                    <table class='edit-project-table'>
                    <tr>
                        <td>link ID: </td>
                        <td>${link.linkID}</td>
                    </tr>
                    <tr>
                        <td>link name: </td>
                        <td><input value="${link.name}" id='link-name-input-${link.linkID}'</td>
                    </tr>
                    <tr>
                        <td>link url: </td>
                        <td><input value="${link.url}" id='link-url-input-${link.linkID}'></td>
                    </tr>
                    <tr>
                        <td>Actions:</td>
                        <td><button id='edit-link-save-${link.linkID}'>Save</button><button style='margin-left: 4px;'>Delete</button></td>
                    </tr>
                    </table>
                    <br> 
                    `
                }

                content += `
                    <div style='text-align: right;'>
                        <button id='delete-project-${projectID}'>Delete project</button>
                        <button id='edit-save-${projectID}'>Save</button>
                    </div>
                `;

                contentDiv.innerHTML = content;
                modal.style.display = "block";

                const editSaveBtn = document.getElementById(`edit-save-${projectID}`) 
                editSaveBtn.onclick = async function() {
                    let title = document.getElementById(`title-input-${projectID}`).value;
                    let description = document.getElementById(`description-input-${projectID}`).value;
                    console.log('title: ', title)
                    console.log('description: ', description)

                    const response = await fetch(`/api/save-project`, {
                        method: "POST",
                        headers: { "Content-type": "application/json" },
                        body: JSON.stringify({ id: projectID, title: title, description: description })
                    })

                    if (response.ok) {
                        console.log("save success");
                    }
                    else {
                        console.log("save failed");
                        const data = await response.json()
                        console.log("save failed error: ", data);
                    }
                }

                const deleteProjectBtn = document.getElementById(`delete-project-${projectID}`)
                deleteProjectBtn.onclick = async function() {
                    const response = await fetch('/api/delete-project', {
                        method: "POST",
                        headers: { "Content-type": "application/json" },
                        body: JSON.stringify({
                            id: projectID
                        })
                    })

                    if (response.ok) {
                        console.log("deleted project ", projectID)
                    }
                    else {
                        console.log("Failed to delete project: ", projectID)
                    }
                }

                for (const link of project.links) {
                    console.log("test3");
                    let saveButton = document.getElementById(`edit-link-save-${link.linkID}`)
                    saveButton.onclick = async function() {
                        let name = document.getElementById(`link-name-input-${link.linkID}`).value
                        let url = document.getElementById(`link-url-input-${link.linkID}`).value

                        const response = await fetch('/api/save-link', {
                            method: "POST",
                            headers: { "Content-type": "application/json" },
                            body: JSON.stringify({
                                id: link.linkID,
                                name: name,
                                url: url
                            })
                        })

                        if (response.ok) {
                            console.log("save success");
                        }
                        else {
                            console.log("save failed");
                            const data = await response.json()
                            console.log("Error: ", data)
                        }
                    }
                }
            }

            console.log("test1");


            console.log("test2");


            let span = document.getElementById('edit-project-close');
            span.onclick = function(){
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        })
    }


    initalize_dashboard();
    initalize_widget_buttons();
    load_projects();
</script>


</html>