<link rel="stylesheet" href=" {{ url_for('static', filename='css/header.css') }}">
    <div class="header">
        <div class="header-left-column">
                <a href='/home'>MWEGER.COM</a>
        </div>
        <div class="header-right-column">
                <a href='/home'>Home</a>
                <a href="/projects">Projects</a>
                <a href='/about'>About</a>
                {% if user %}
                <a href='/logout'>Logout</a>
                {% endif %}
        </div>
    </div>