<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

    {% include 'header.html' %}

    <h1>Login</h1>

    <form class="login-form" id="login-form">
        <div class="login-form-row">
            <label>Username: </label>
            <input id="username-input">
        </div>
        <div class="login-form-row">
            <label>Password: </label>
            <input id="password-input" type="password">         
        </div>
        <button type="submit">Login</button>
    </form>

    <p id="error-text" style="color: red"></p>

    <p>If you do not already have an account: <a href="/register">Register</a></p>
    

    {% include 'footer.html' %}


<script>

    document.getElementById("login-form").addEventListener("submit", 
        function(e) {
            e.preventDefault();
            login();
        }
    )

    async function login() {
        let username = document.getElementById("username-input").value;
        let password = document.getElementById("password-input").value;
        let errorText = document.getElementById('error-text');
        errorText.textContent = "";


        const response = await fetch("/login", {
            method: "POST",
            headers: { "Content-type": "application/json" },
            body: JSON.stringify({ username: username, password: password })
        })

        if (response.ok) {
            console.log("log in success");
            window.location.href = "/";
        } else {
            console.log("Log in failed");
            const data = await response.json();
            errorText.textContent = "Incorrect username or password";
        }

    }


</script>

</html>