<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/mw.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/mw.png') }}">
</head>
<body>

    {% include 'header.html' %}
    
    <div class="container">
        <h1>Projects</h1>
        <div id="projects-container">
            <p style="font-style: italic">Pulling data...</p>
        </div>


    </div>
    {% include 'footer.html' %}

</body>
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>

</html>