<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% include 'header.html' %}
    <h1>Projects</h1>
    
    <div class="divider"></div>

    <h2>mweger.com</h2>
    <p><a href='/'>mweger.com</a> is my personal website. I develop the site in my own time 
        writing each line by hand - no AI. The github repo can be found here: <a href="/projects">coming soon</a>
    </p>

    

    {% include 'footer.html' %}

</body>
</html>