<!DOCTYPE html>
<html>
<head>
    <title>Rebuild Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

    {% include 'header.html' %}

    <div class="main-content" id="main-content">    
        <h1>Rebuild Dashboard</h1>
        <div id="save-header">
        </div>
        <div id="select-save">
        </div>
        <div id="setup-form">
        </div>
        <div id="shopping-cart" style="display: none">
            <div class='table-container'>
                <h2>Shopping cart</h2>
                <div class='button-row-container'>
                    <div class='button-row-left'>
                    </div>
                    <div class='button-row-right'>
                    <button onClick=openAddItem() class="basic-button" id='add-item-button'>Add Item</button>
                    </div>
                </div>
        </div>

    </div>

    <div class="modal" id="add-item-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>test</p>
        </div>
    </div>

    {% include 'footer.html' %}

</body>
<script>
    window.user = {{ user|tojson }};
    window.userID = {{ userID|tojson }};
</script>

<script src="{{ url_for('static', filename='js/rebuild.js') }}"></script>

</html>